@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --dark-purple: #301534;
    --pink: #ad28eb;
    --light-pink: #f8eeff;
    --pale-purple: #8b6990;
    --white: #ffffff;
}

* {
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: var(--light-pink);
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Work Sans", sans-serif;
}

.background-div {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.background-div img {
    width: 100%;
}

.outer {
    max-width: 600px;
    border-radius: 16px;
    background-color: var(--white);
    padding: 40px;
    margin: 168px 24px 20px 24px;
}

.header {
    margin-bottom: 32px;
}

.header>h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 0;
    margin-left: 24px;
    display: inline;
}

.question-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.minus {
    margin-left: 24px;
}

.plus {
    margin-left: 24px;
    display: none;
}

.closed .plus {
    display: block;
}

.closed .minus {
    display: none;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

@media (max-width: 375px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}